<ion-header>

    <ion-navbar>
        <ion-buttons start>
            <button ion-button menuToggle>
              <ion-icon name="menu"></ion-icon>
            </button>
            </ion-buttons>
             
            <ion-title>
                Home 
              </ion-title>

      <ion-buttons end>     
  <ng-template [ngIf]="this.awri.isInRole('authenticated user')" [ngIfElse]="headerOut">
    <button ion-button (click)="gotoLogin()">
      <img class="avatar" src="{{this.awri.user.picture}}"> {{awri.user.name}}        
    </button>
  </ng-template>      
  <ng-template #headerOut>
              <button ion-button (click)="gotoLogin()">
              <ion-icon name="contact"></ion-icon>  {{awri.user.name}}
              </button>
  </ng-template>
      </ion-buttons>    
    </ion-navbar>

</ion-header>
   
  <ion-content padding>
    icon:      <h2><ion-icon name="rechzapp-awri" color="primary"></ion-icon></h2>
      <ng-template [ngIf]="!awri.isInRole('authenticated user')" >
          <ion-label color="danger"><h2><ion-img  src="assets/imgs/anonymous.png"></ion-img> Sie sind nicht angemeldet!</h2></ion-label>
            <ion-label>Bitte melden sie sich um Zugriff auf erweiterte Funktionen zu erhalten.</ion-label>
            <button ion-button small (click)="gotoLogin()">Anmelden</button>               
        </ng-template>
      
      
        <ion-list>
            <ion-item>
              <ion-label> <ion-icon name="search"></ion-icon></ion-label>
              <ion-input  [(ngModel)]="text" placeholder="Rechtsfrage suchen..." clearInput></ion-input>
            </ion-item>
            </ion-list>
            <button ion-button round full (click)="dosearch()" icon-start><ion-icon name="search" item-right></ion-icon>  Suchen </button>
            <ion-label color="danger" text-wrap><h3>{{error}}</h3></ion-label>
  
            <ng-template [ngIf]="this.awri.help"><ion-label color="secondary"><ion-icon name="help"></ion-icon> Scrollen Sie per Touchscreen oder Tastatur zurück bis 23.3.2015</ion-label></ng-template>
  
            <ion-grid>
              <ion-row>
                <ion-col *ngFor="let item of items" col-12 col-md-4>
                  <ion-card  (click)="this.itemSelected(item)">
                    <ion-item>        
                     <ng-template [ngIf]="awri.isInRole('authenticated user')" [ngIfElse]="loggedOut1">
                      <ion-avatar item-start>
                         <img class="avatar" src="https://graph.facebook.com/{{(item.node.field_fbid.und[0]?item.node.field_fbid.und[0].value:0)}}/picture"> 
                         <h2 text-capitalize>{{item.node?.field_fbname.und[0].value}}</h2>
                         <p>{{item.node.created*1000 | date: 'dd.MM.yyyy H:mm' }}</p>
                       </ion-avatar>
                       
                     </ng-template>
                     <ng-template #loggedOut1>
                         <ion-avatar item-start>
                             <img class="avatar" src="assets/imgs/anonymous.png"> 
                           </ion-avatar>
                           <h2 text-capitalize>Nicht angezeigt</h2>
                       </ng-template>
                    </ion-item>
                    <ion-card-content>
           
                             <h2 innerHTML={{item.snippet}}></h2> 
                             <p> {{item.extra?.comment}}</p> 
                             <p>Suchrelevanz {{item.score}}<p>      
                    </ion-card-content>
                  </ion-card>              
                </ion-col>       
              </ion-row>
              <ion-row><ion-col>
                <button ion-button *ngIf="this.items" (click)="this.resetSearch()">Reset</button>
              </ion-col></ion-row>
            </ion-grid>     
      
           <div id="scrollTop"></div>
            
            <ion-list *ngFor="let n of this.index">
              <ion-card>  
                <ion-item><p>{{n.created*1000 | date: 'dd.MM.yyyy H:mm' }} <ion-icon name="eye" (click)="this.frageSelected(n)" color="primary"></ion-icon></p></ion-item>
                <ion-card-content text-wrap (click)="this.frageSelected(n)">{{n.title}}</ion-card-content>
              </ion-card>
              </ion-list>
              <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
                  <ion-infinite-scroll-content></ion-infinite-scroll-content>
                </ion-infinite-scroll>

            <ion-fab right bottom class="web-fab">
                <button ion-fab icon-only color="primary" (click)="scrollTo('scrollTop')">
                    <ion-icon name="arrow-round-up"></ion-icon>
                </button>
                <ion-fab-list side="top">
                  <button ion-fab>Facebook</button>
                  <button ion-fab>Twitter</button>
                  <button ion-fab>Youtube</button>
                </ion-fab-list>
                <ion-fab-list side="left">
                  <button ion-fab>Vimeo</button>
                </ion-fab-list>
               </ion-fab>
               
               <ion-fab right top edge class="mobile-fab">
                <button ion-fab icon-only color="primary" (click)="scrollToTop()">
                    <ion-icon name="arrow-round-up"></ion-icon>
                </button>
               </ion-fab>

  </ion-content> 
  
  <ion-footer>
    <ion-toolbar>
      <ion-title>Powered by <ion-icon name="rechzapp-awri" color="primary"></ion-icon> <a href="{{this.awri.HOST}}" target="_BLANK">AWRI</a> <small>{{this.awri.stats?.nodesc}} Rechtsfragen</small></ion-title>
    </ion-toolbar>
  </ion-footer>